{% extends "base_group.html" %}

{% block content %}

<ul>
{% for team in teams %}
	<li><a href='{{team.url}}'>{{team.number}}: {{team.name}}</a></br>
		<form method="post" action="">
			<input type='hidden' name='teamid' value="{{team.key.id}}"/> 
			<input type='text' name='emails' value='{{team.emails|join:", "}}'/>
			<input type='submit' class='btn' value='Invite users.'/>
		</form>
	</li>
{% endfor %}
</ul>

<form method="post" action="">
    <fieldset>
    	<label for='grp'>New team name: </label><input type="text" id='grp' name='teamname' style="width: 500px" /><input type="submit" class='btn' value="Create team." />
    </fieldset>
</form>

{% endblock content %}
